@model Area.Data.VisitPlaceWareHouse

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>VisitPlaceWareHouse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CheckinDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckinDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckinLatitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckinLatitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckinLongitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckinLongitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckoutDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckoutDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckoutLatitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckoutLatitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckoutLongitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckoutLongitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VisitPlace.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitPlace.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WareHouse.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WareHouse.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
