@model IEnumerable<Area.Data.VisitPlaceWareHouse>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CheckinDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckinLatitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckinLongitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckoutDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckoutLatitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckoutLongitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VisitPlace.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WareHouse.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CheckinDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckinLatitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckinLongitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckoutDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckoutLatitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckoutLongitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VisitPlace.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WareHouse.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
