@using Area.Data;
@using System.Data.Entity;
@model IEnumerable<Area.Data.GetGeneralEvaluation_Result>
@{
    ViewBag.Title = "DifferentPlace";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var startDate = this.Request.QueryString["startdate"];
    var endDate = this.Request.QueryString["enddate"];
    var placeID = this.Request.QueryString["placeid"];

    DayOfWeek day = DateTime.Now.DayOfWeek;
    int days = day - DayOfWeek.Monday;
    DateTime start = DateTime.Now.AddDays(-days);
    DateTime end = start.AddDays(6);
    if (!string.IsNullOrEmpty(startDate) && !string.IsNullOrEmpty(endDate))
    {
        start = Convert.ToDateTime(startDate);
        end = Convert.ToDateTime(endDate);
    }
    B2DriveForPostEntities db = new B2DriveForPostEntities();
    var placeList = db.Places.OrderBy(p => p.Name).ToList();

    var productCategoryList = db.ProductCategories.Where(p => p.ID != 2).OrderBy(p => p.Name).ToList();
    var productSubCategoryList = db.ProductSubCategories.Where(p => p.CategoryID != 2).OrderBy(p => p.Name).ToList();
}
<div class="span12">
    <div class="widget widget-table action-table">
        <div class="widget-header  widget-header-st  Fourinput-ST">
            <form class="filterForm">
                <div class="container">
                    <div class="row">

                        <div class="span3">
                            <h5>Baslangiç Tarihi</h5>
                            <div class="controls datetimepicker1">
                                <span class="add-on">
                                    <input type="text" name="startdate" class="form-control" id="datetimepicker1" value="@start" autocomplete="off" />
                                </span>
                            </div>
                        </div>


                        <div class="span3">
                            <h5>Bitis Tarihi</h5>
                            <div class="container">
                                <div class="controls datetimepicker1">
                                    <span class="add-on">
                                        <input type="text" name="enddate" class="form-control" id="datetimepicker2" value="@end" autocomplete="off" />
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <h5>Mekanlar</h5>
                            <select name="place">
                                <option value="0">Seçiniz</option>
                                @foreach (var item in placeList)
                                {
                                    <option value="@item.ID">@item.Name</option>
                                }
                            </select>
                        </div>

                        <div class="span3">
                            <h5>Ürün</h5>
                            <select name="CategoryID">
                                <option value="0">Seçiniz</option>
                                @foreach (var item in productCategoryList)
                                {
                                    <option value="@item.ID">@item.Name</option>
                                }
                            </select>
                        </div>

                        <div class="span3">
                            <h5>Ürün alt Kategori</h5>
                            <select name="SubCategoryID">
                                <option value="0">Seçiniz</option>
                                @foreach (var item in productSubCategoryList)
                                {
                                    <option value="@item.ID">@item.Name</option>
                                }
                            </select>
                        </div>

                        <div class="span3 filterBtnArea">
                            <button type="submit" class="btn btn-primary">Filtrele</button>
                        </div>

                    </div>
                </div>



            </form>

        </div>
        <!-- /widget-header -->
        <div class="widget-content">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            Tarih
                        </th>
                        <th>
                            Mekan
                        </th>
                        <th>
                            Litre
                        </th>
                        <th>
                            Ulasilan Kisi Sayisi
                        </th>
                        <th>
                            Tadim Yaptirilan Kisi Sayisi
                        </th>
                    </tr>
                </thead>@foreach (var item in Model)
                {
                    <tbody class="openInnerTable">

                        <tr class="cursorPointer">
                            <td>
                                @Html.DisplayFor(modelItem => item.StartDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ConversionLiter)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Uks)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tks)
                            </td>

                        </tr>


                        <tr class="innerTableHead">
                            <th>
                                Anket Yapilan Kisi Sayisi
                            </th>
                            <th>
                                Müsteri Olumsuz Yorumlari
                            </th>
                            <th>
                                Müsteri Olumlu Yorumlari
                            </th>
                            <th>
                                Mekan Hakkinda Olumsuz Yorumlar
                            </th>
                            <th>
                                Mekan Hakkinda Olumlu Yorumlar
                            </th>

                        </tr>
                        <tr class="innerTableBody">
                            <td>
                                @Html.DisplayFor(modelItem => item.SurveyCount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerNegativeComment)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerPositiveComment)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PlaceNegativeComment)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PlacePositiveComment)
                            </td>

                        </tr>

                    </tbody>
                }
            </table>
        </div>
    </div>
</div>

