@using System.Linq;
@using Area.Data;
@using System.Data.Entity;
@using Area.Web.Helper;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var startDate = this.Request.QueryString["startdate"];
    var endDate = this.Request.QueryString["enddate"];
    var product = this.Request.QueryString["product"];
    var place = this.Request.QueryString["place"];

    DayOfWeek day = DateTime.Now.DayOfWeek;
    int days = day - DayOfWeek.Monday;
    DateTime start = DateTime.Now.AddDays(-days);
    DateTime end = start.AddDays(6);
    if (!string.IsNullOrEmpty(startDate) && !string.IsNullOrEmpty(endDate))
    {
        start = Convert.ToDateTime(startDate);
        end = Convert.ToDateTime(endDate);
    }

    B2DriveForPostEntities db = new B2DriveForPostEntities();

    var placeList = db.Places.OrderBy(p => p.Name).ToList();
    var productList = db.ProductSubCategories.OrderBy(p => p.Name).ToList();

    var productSaleList = db.ProductSales.Include(p => p.VisitPlace).Where(p => p.VisitPlace.StartDate > start && p.VisitPlace.StartDate < end && p.VisitPlace.IsApproved == true).ToList();
    int conversionCount = 0;
    int spentCount = 0;
    if (productSaleList != null && productSaleList.Count() > 0)
    {
        spentCount = Convert.ToInt32(productSaleList.Where(p => p.SaleType == 1).Sum(p => p.Quantity) * 70);
        conversionCount = Convert.ToInt32(productSaleList.Where(p => p.SaleType == 2).Sum(p => p.Quantity) * 70);
    }
    var differentPlace = db.GetDifferentPlace(start, end, Convert.ToInt32(product), 0).ToList();
    var placeOccopuancy = db.GetPlaceOccupancyRate(start, end, Convert.ToInt32(place), Convert.ToInt32(product), 0).ToList();
    string occopuanctyRate = "0";
    if (placeOccopuancy.Count() > 0)
    {
        occopuanctyRate = Convert.ToDecimal(placeOccopuancy.Sum(p => p.Rate) / placeOccopuancy.Count()).ToString("#.#");
    }

    //if (!String.IsNullOrEmpty(startDate))
    //{
    //    //availablePersonel = from c in availablePersonel
    //    //                    where c.VisitPlace.StartDate < DateTime.Now

    //}
}

<div class="span12">
    <div class="widget widget-table action-table">
        <div class="widget-header  widget-header-st  Fourinput-ST">
            <form class="filterForm">
                <div class="container">
                    <div class="row">

                        <div class="span3">
                            <h5>Başlangıç Tarihi</h5>
                            <div class="controls datetimepicker1">
                                <span class="add-on">
                                    <input type="text" name="startdate" class="form-control" id="datetimepicker1" value="@start" autocomplete="off" />
                                </span>
                            </div>
                        </div>

                        <div class="span3">
                            <h5>Bitiş Tarihi</h5>
                            <div class="container">
                                <div class="controls datetimepicker1">
                                    <span class="add-on">
                                        <input type="text" name="enddate" class="form-control" id="datetimepicker2" value="@end" autocomplete="off" />
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <h5>Mekanlar</h5>
                            <select name="place">
                                <option value="0">Seçiniz</option>
                                <option value="0">Tüm Mekanlar</option>
                                @foreach (var item in placeList)
                                {
                                    <option value="@item.ID">@item.Name</option>
                                }
                            </select>
                        </div>

                        <div class="span3">
                            <h5>Ürün</h5>
                            <select name="CategoryID">
                                <option value="0">Seçiniz</option>
                                @foreach (var item in productList)
                                {
                                    <option value="@item.ID">@item.Name</option>
                                }
                            </select>
                        </div>

                        <div class="span3 filterBtnArea">
                            <button type="submit" class="btn btn-primary">Filtrele</button>
                        </div>

                    </div>
                </div>
            </form>

        </div>
        <!-- /widget-header -->
        <div class="widget-content">
            <div class="info-box">
                <div class="row-fluid stats-box">
                    <div class="span6">
                        <div class="stats-box-title">Farklı Mekanlarda Yapılan Etkinlik Sayısı</div>
                        <div class="stats-box-all-info"><i class="icon-anchor" style="color:#3C3;"></i> @differentPlace.Count() </div>
                    </div>
                    <div class="span6">
                        <div class="stats-box-title">Doluluk Oranları</div>
                        <div class="stats-box-all-info"><i class="icon-bullhorn" style="color:#F30"></i> @(occopuanctyRate) % </div>
                    </div>
                </div>
                <div class="row-fluid stats-box">
                    <div class="span6">
                        <div class="stats-box-title">Conversion Raporu </div>
                        <div class="stats-box-all-info"><i class="icon-money" style="color:#c3b334;"></i> @conversionCount Litre</div>
                    </div>
                    <div class="span6">
                        <div class="stats-box-title">Harcanan Ürün</div>
                        <div class="stats-box-all-info"><i class="icon-gift" style="color:#c334a3"></i> @spentCount Litre</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
