@model Area.Data.VisitPlace

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span12">
    <div class="widget ">
        <div class="widget-header">
            <i class="icon-user"></i>
            <h3>-</h3>
        </div>
        <div class="widget-content">
            <div class="tabbable">
                <div class="tab-content">

                    @using (Html.BeginForm())
                    {

                        <fieldset>
                            <div class="form-group">
                                Personal Adı
                                <div class="col-md-10">
                                    @Html.DropDownList("UserID", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                Başlangıç Tarihi
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                Bitiş Tarihi
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                Mekan İsmi
                                <div class="col-md-10">
                                    @Html.DropDownList("PlaceID", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PlaceID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @Html.ActionLink("Listeye Geri Dön", "Index", new { htmlAttributes = new { @class = "form-control" } })
                            <button type="submit" class="btn btn-primary pull-right two">Kaydet</button>

                        </fieldset>


                    }

                </div>
            </div>
        </div>
    </div>
</div>
</div>
